<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title>Star Cache, LLC</title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <%= yield %>

    <nav>
      <%= link_to "Home", "/"  %>
      <%= link_to "About Us", "about"  %>
      <%= link_to "Services", "services"  %>
      <%= link_to "Contact", "contact"  %>
    </nav>

    <footer>
        <p>&copy; 2008 - 2023 Star Cache, LLC. All rights reserved.</p>
    </footer>
  </body>
</html>
