---
title: Welcome to Middleman
---

<header>
        <h1>Star Cache, LLC</h1>
    </header>

    <section id="home">
        <p>Since 2008, we have been crafting internet and e-commerce applications that redefine the way businesses engage with their customers and operate in the digital realm.</p>
    </section>

    <section id="about">
        <h2>About Us</h2>
        <p>For over a decade, we have been creating products which offer a wide variety of services that tailor to many diverse markets.</p>
    </section>

    <section id="services">
        <h2>Our Services</h2>
        <p>Our services span a wide range of tech solutions, including web development, software engineering, ecommerce and more. Our range of solutions spans from intuitive and secure e-commerce platforms to feature-rich internet applications that enhance user engagement and streamline your online operations. We understand the importance of creating a seamless and enjoyable user experience, and our applications are tailored to do just that.</p>
    </section>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>Please email starcache@zoho.com for more info.  Thank you!</p>
    </section>

    
